@tailwind base;
@tailwind components;
@tailwind utilities;
/* Google Font Import - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  /* ===== Colors ===== */
  --body-color: #e4e9f7;
  --sidebar-color: #fff;
  --primary-color: #695cfe;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #707070;

  /* ===== My colors ====== */
  --myprimary-color: #11235a;
  /* ====== Transition ====== */
  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;
}

.body.dark {
  --body-color: #18191a;
  --sidebar-color: #242526;
  /* ===== My colors ====== */
  --myprimary-color: #242526;
  --myprimary-color-light: #707070;
  --primary-color: #3a3b3c;
  --primary-color-light: #3a3b3c;
  --toggle-color: #fff;
  --text-color: #ccc;
}

.body {
  min-height: 100vh;
  background-color: var(--body-color);
  transition: var(--tran-05);
}

::selection {
  background-color: var(--primary-color);
  color: #fff;
}

a {
  text-decoration: none;
  color: none;
}

.p-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px;
  color: var(--text-color);
}

.p-title h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.p-title h2 a {
  color: var(--text-color);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.button-transition {
  transition: border-color 1s ease; /* Adjust the duration and timing function as needed */
}
input {
  -moz-appearance: textfield;
}
